body{
    background-color: black;
    width: 1600px;
    height: 900px;
    }
    .navigation{
        position: absolute;
    width: 1400px;
    height: 56px;
    left: 201px;
    top: 0px;
    
    background: #228B22;
    
    
        border-radius: 60px 0px 0px 0px;
     
    }
    nav navlinks{
    justify-content: space-between;
    
    
    }
    nav a{
    text-decoration: none;
    
    
    }
    nav li{
        list-style: none;
        display: inline;
       
    }
    
    nav ul li a{
        color: white;
       font-size: 20px;
       font-family: 'Inter';
       font-style: normal;
       font-weight: 700;
       font-size: 20px;
      line-height: 24px;
      padding: 100px;
     
    }
    .title{
        padding-left: 10px;
        color: white;
        
    }
   
    