
body{
    background-color: black;
    width: 1600px;
    height: 910px;
    }
    .navigation{
        position: absolute;
        width: 1090px;
        height: 56px;
        left: 760px;
    top: 0px;
    
    background: #228B22;
    
    
        border-radius: 60px 0px 0px 0px;
     
    }
    nav navlinks{
    justify-content: space-between;
    
    
    }
    nav a{
    text-decoration: none;
    
    
    }
    nav li{
        list-style: none;
        display: inline;
       
    }
    
    nav ul li a{
        color: white;
       font-size: 20px;
       font-family: 'Inter';
       font-style: normal;
       font-weight: 700;
       font-size: 20px;
      line-height: 24px;
      padding: 100px;
     
    }
    .title{
        padding-left: 10px;
        color: white;
        
    }
    .title1{
       padding-top: 80px;
      color: white;
      text-align: center;
      font-size: 25px;
      font-family: sans-serif;
      font-weight: 900;
    }

     .discription{
        font-weight: 500;
       padding-top: 0px;
      color: white;
      padding-left: 600px;
      
    }
    .contactus{
        position: absolute;
        width: 822px;
        height: 301px;
        left: 324px;
        top: 250px;
        
        background: #228B22;
        border-radius: 20px;

    }
    input{
    width: 700px;
    margin-left: 40px;
    margin-top: 50px;
    outline: none;
   background-color: #228B22;
    box-shadow: none;
    border:none;
    border-bottom:3px solid black ;
    }
input::placeholder{
   color: white;  
   font-weight: 700;
}
.submit{
position: absolute;
    height: 20px;
    width: 130px;
    background-color:black;
    color: white;
    left: 300px;
    border-radius: 5px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 176px;
}
.line{
    position: absolute;
    height: 3px;
    width: 390px;
    background-color: black;
   bottom:80px;
   left: 40px;
}
span{
  margin-left: 98px;
  
}
.fa-cloud-download{
font-size:17px;
    padding-left: 5px;
}
.donloads2{
    padding-left: 40px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
}
.addsblog{
    position: absolute;
    background-color: black;
    height: 50px;
    width: 100px;
    left: 40px;
    color: white;
    border-radius: 10px;
}