/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    
    align-items: center;
    justify-content: center;
    background-color: black;
}
form p{
    color: red;
}
#valid{
    color: red;
}
.container{
   
    position: relative;
    max-width: 430px;
    width: 90%;
    background:white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 50px 600px;
}
.container .forms{
    display: flex;
    align-items: center;
    height: 450px;
    width: 200%;
   
}
.container .form{
    width: 50%;
    padding: 30px;
    background-color: white;
    transition: margin-left 0.18s ease;
}
.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.container .signup{
    
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}
.container.active .forms{
    height:650px;
    
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #228B22;
    border-radius: 25px;
}
.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}
.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid black;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid){
    border-bottom-color: black;
}
.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 23px;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) ~ i{
    color: black;
}
.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}
.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}
.checkbox-content input{
    margin-right: 10px;
    accent-color: black;
}
.form .text{
    color:black;
    font-size: 14px;
}
.form a.text{
    color: #228B22;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 35px;
}
.form .button input{
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #228B22;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover{
    background-color: black;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}





:root{
    --color-1:#228B22;
    
  }
  body{
    
      font-family: sans-serif;
      background-color:black;
      height: auto;
  }
  *{
      box-sizing: border-box;
      margin:0;
      padding:0;
  }
  a{
      text-decoration: none;
  }
  ul{
      list-style: none;
  }
  .contain{
      max-width: 1170px;
      margin: auto;
     
    
  }

  .row{
      display: flex;
      flex-wrap: wrap;
  }
  .align-items-center{
      align-items: center;
  }
  .justify-content-between{
      justify-content: space-between;
  }
  /*header*/
  .header{
      background-color: var(--color-1);
      padding:12px 0;
      position: relative;
      border-radius: 60px 0px 0px 0px;
  }
  .header .logo,
  .header .nav{
      padding:0 15px;
  }
  .header .logo a{
      font-size: 30px;
      color: white;
      text-transform: capitalize;
  }
  .header .nav ul li{
      display: inline-block;
      margin-left: 40px;
  }
  .header .nav ul li a{
      display: block;
      font-size: 16px;
      padding:10px 0;
      color: white;
      text-transform: capitalize;
      transition: all 0.5s ease;
  }
  .header .nav ul li a:hover,
  .header .nav ul li a.active{
      color: #ffffff;
  }
  .header #nav-check{
      position: absolute;
      opacity:0;
      pointer-events: none;
  }
  .nav-toggler{
      height: 34px;
      width: 44px;
      background-color: #ffffff;
      border-radius: 4px;
      cursor: pointer;
      display: none;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
  }
  .nav-toggler span{
      display: block;
      height: 2px;
      width: 20px;
      background-color: var(--color-1);
      position: relative;
  }
  .nav-toggler span::before,
  .nav-toggler span::after{
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: var(--color-1);
     left:0;
  }
  .nav-toggler span::before{
      top: -6px;
  }
  .nav-toggler span::after{
      top: 6px;
  }
  @media(max-width: 1000px){
    .nav-toggler{
        display: flex;
    }
    .nav{
        z-index: 1;
        height: 800px;
      }


      .header .nav{
        position: absolute;
        left:0;
        top:100%;
        width: 100%;
        background-color: var(--color-1);
        border-top: 1px solid rgba(255,255,255,0.2);
        opacity:0;
        visibility: hidden;
    }
    .header .nav ul li{
        display: block;
        margin:0;
    }

    .header #nav-check:checked ~ .nav{
        opacity: 1;
        visibility: visible;
     }
     .header #nav-check:focus ~ .nav-toggler{
         box-shadow: 0 0 15px #000000;
     }
     .header #nav-check:checked ~ .nav-toggler span{
         background-color: transparent;
     }
     .header #nav-check:checked ~ .nav-toggler span::before{
         top:0;
         transform: rotate(45deg);
     }
     .header #nav-check:checked ~ .nav-toggler span::after{
         top:0;
         transform: rotate(-45deg);
     }
    .container{
      position: relative;
      max-width: 430px;
      width: 90%;
      background:white;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      margin: 0 160px;
  }}
  @media(max-width: 620px){
      .nav-toggler{
          display: flex;
      }
      .container{
        position: relative;
        max-width: 430px;
        width: 90%;
        background:white;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: 0 20px;
    }
      .nav{
        z-index: 1;
        height: 800px;
      }

      
      .header .nav{
          position: absolute;
          left:0;
          top:100%;
          width: 100%;
          background-color: var(--color-1);
          border-top: 1px solid rgba(255,255,255,0.2);
          opacity:0;
          visibility: hidden;
      }
      .header .nav ul li{
          display: block;
          margin:0;
      }
      .header #nav-check:checked ~ .nav{
         opacity: 1;
         visibility: visible;
      }
      .header #nav-check:focus ~ .nav-toggler{
          box-shadow: 0 0 15px #000000;
      }
      .header #nav-check:checked ~ .nav-toggler span{
          background-color: transparent;
      }
      .header #nav-check:checked ~ .nav-toggler span::before{
          top:0;
          transform: rotate(45deg);
      }
      .header #nav-check:checked ~ .nav-toggler span::after{
          top:0;
          transform: rotate(-45deg);
      }
      
  }
